$colors: (main-dark-blue: #121219, medium-dark-blue: #2F2E41, light-dark-blue: #3F3D56, blue-accent: #6C63FF, red-accent: #FF455B, faded-blue: #D0CDE1);

@mixin dark-background__annotation() {
  font-size: .75rem;
  font-weight: 500;
  color: map-get($colors, faded-blue);
  text-transform: uppercase;
  padding: 0;
  margin-bottom: 1.25rem;
}

@mixin big-heading() {
  font-size: 3rem;
  font-weight: 500;
  color: white;
  line-height: 1;
  padding: 0;
  margin: 0;
}

@mixin dark-background__description() {
  font-size: 1.2rem;
  color: #fff;
  margin-top: 2rem;
  line-height: 1.4;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.grid-wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "header"
                       "main"
                       "footer";


}

header {
  grid-area: header;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 7rem auto auto;
  grid-template-areas: "logo toggle" "info info" "image image";
  background: map-get($colors, main-dark-blue);
  padding-bottom: 3rem;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

section {
  padding: 3rem 2rem;
  margin: auto;
}

.backdrop {
  display: none;
  position: fixed;
  opacity: 0;
  transition: opacity .5s linear;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.25);
}

.main-nav {
  display: none;
}

.mobile-nav {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: #fff;
  width: 80%;
  height: 100vh;
}

.main-header__brand {
  grid-area: logo;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 2rem;
  text-decoration: none;
  color: white;
  align-self: center;
  margin-left: 2rem;
}

.main-header__brand:hover,
.main-header__brand:active {
  color: map-get($colors, red-accent);
}

.toggle-button {
  width: 2rem;
  grid-area: toggle;
  background: transparent;
  border: none;
  padding: 0;
  align-self: center;
  justify-self: end;
  margin-right: 2rem;
}

.toggle-button__bar {
  display: block;
  width: 100%;
  height: 0.25rem;
  background: map-get($colors, red-accent);
  margin: .5rem 0;
}

.main-header__info {
  grid-area: info;
  padding: 0 2rem;
  justify-self: center;
}

.main-header__heading,
.dark-section__heading {
  @include big-heading();
  text-align: center;
}

.main-header__annotation,
.dark-section__annotation {
  @include dark-background__annotation();
  text-align: center;
}

.dark-section__description {
  @include dark-background__description();
  text-align: center;
}

.main-header__description {
  display: none;
}

.subscription {
  margin: 3rem 0;
  display: inline-block;
  position: relative;
  width: 90%;
  left: 5%;

  input {
    box-sizing: border-box;
    width: 100%;
    height: 3rem;
    border-radius: 8px;
    border: none;
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: 500;
  }

  button {
    position: absolute;
    top: .5rem;
    right: .5rem;
    width: 3rem;
    height: 2rem;
    border-radius: .25rem;
    border: none;
    background: map-get($colors, red-accent);
    color: white;
  }

  ::placeholder {
    color: #D0CDE1;
  }
}

.main-header__image {
  grid-area: image;
  margin: auto;
  width: 80%;
}

#dark-section {
  background: map-get($colors, main-dark-blue);
}

.dark-section__image {
  margin: auto;
  width: 90%;
  margin-top: 3rem;
  padding-left: 5%;
}

.section-heading__text {
  font-size: 2rem;
  font-weight: 500;
  color: map-get($colors, main-dark-blue);
  margin: 0;
}

.section-heading__decoration {
  width: 5rem;
  height: 0.25rem;
  background: map-get($colors, blue-accent);
  margin-top: .75rem;
}

.card-item {
  margin: 2rem auto 0;
  padding: 2rem 1rem;
  width: 90%;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(108,99,255, 0.15);
  border: 1px solid rgba(108,99,255, 0.1);

  a {
    font-size: 1rem;
    font-weight: 600;
    color: map-get($colors, light-dark-blue);
    text-decoration: none;
  }
}

.card-item__annotation {
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #D0CDE1;
  margin: 0;
}

.card-item__heading {
  font-size: 1.5rem;
  font-weight: 700;
  color: map-get($colors, medium-dark-blue);
  margin: 0.5rem 0;
}

.card-item__info {
  font-size: 1.2rem;
  color: map-get($colors, main-dark-blue);
  line-height: 1.3;
  padding: 1.5rem 0;
}

.card-item--highlighted {
  background: map-get($colors, main-dark-blue);
  a {
    color: map-get($colors, blue-accent);
  }

  .card-item__heading {
      color: map-get($colors, blue-accent);
  }

  .card-item__info {
    color: #fff;
  }
}

.picture-item__image {
  width:100%;
  margin: 2.5rem auto 0;
}

.picture-item__annotation {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: map-get($colors, light-dark-blue);
  margin: 1rem 0;
}

.picture-item__info {
  font-size: 1rem;
  line-height: 1.4;
  color: map-get($colors, main-dark-blue);
  margin-bottom: 1.5rem;
}

.picture-item {
  a {
    text-decoration: none;
    color: map-get($colors, blue-accent);
    font-weight: 600;
  }
}

.feature-item {
  text-align: center;
  margin-top: 3rem;

  .feature-item__heading {
    font-size: 3rem;
    font-weight: 600;
    margin: .5rem auto 0.25rem;
    color: map-get($colors, main-dark-blue);
  }

  .feature-item__info {
    margin: 0 auto;
    color: map-get($colors, main-dark-blue);
  }
}

.signup-form {
  padding: 1rem 0;
  display: grid;
  grid-gap: .5rem;
  grid-auto-rows: 2rem;
  margin-bottom: 3rem;

    button {
      background: map-get($colors, red-accent);
      border: none;
      height: 3rem;
      border-radius: 8px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 1.25rem;
      font-family: "Montserrat", sans-serif;
      margin: 1.25rem 0;
    }
}

.signup-form label {
  font-weight: 500;
  color: map-get($colors, medium-dark-blue);
  align-self: end;
}

.signup-form input {
  border: 1px solid map-get($colors, faded-blue);
  border-radius: 8px;
  padding: .5rem;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  color: map-get($colors, main-dark-blue);
}

.signup-form__checkbox {
  margin: 1rem auto;
}

footer {
  text-align: center;
  color: #fff;
  background: map-get($colors, main-dark-blue);
  padding: 1rem 0;

  a {
    text-decoration: none;
    display: block;
    color: #fff;
    font-size: 1.2rem;
    padding: 0.5rem;
  }

  p {
    margin: 2rem 0;
    font-size: 0.75rem;
    color: map-get($colors, light-dark-blue);
  }
}
