$colors: (
  main-dark-blue: #121219,
  medium-dark-blue: #2F2E41,
  light-dark-blue: #3F3D56,
  blue-accent: #6C63FF,
  red-accent: #FF455B,
  faded-blue: #D0CDE1
);

@mixin dark-section-style() {
  background: map-get($colors, main-dark-blue);
  padding-bottom: 5rem;
  margin-top: 5rem;
  color: #fff;
}

@mixin dark-background__annotation() {
  font-size: 0.75rem;
  font-weight: 500;
  color: map-get($colors, faded-blue);
  text-transform: uppercase;
  padding: 0;
  margin-bottom: 1.25rem;
}

@mixin big-heading() {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1;
  padding: 0;
  margin: 0;
}

@mixin dark-background__description() {
  font-size: 1.2rem;
  margin-top: 2rem;
  line-height: 1.4;
}

.open {
  display: block !important;
  opacity: 1 !important;
  transform: translateY(0) !important;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.grid-wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "header" "main" "footer";
}

header {
  @include dark-section-style();
  grid-area: header;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 7rem auto auto;
  grid-template-areas: "logo toggle" "info info" "image image";
  margin-top: 0;
}

main {
  grid-area: main;
}

footer {
  @include dark-section-style();
  padding-bottom: 2rem;
  grid-area: footer;
}

section {
  padding: 5rem 2rem 0;
  margin: auto;
}

.backdrop {
  display: none;
  position: fixed;
  opacity: 0;
  transition: opacity 0.5s linear;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.25);
}

.main-nav {
  display: none;
}

.mobile-nav {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: map-get($colors, faded-blue);
  width: 75%;
  height: 100vh;
}

.mobile-nav__items {
  list-style: none;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
}

.mobile-nav__item {
  margin-bottom: 2rem;
}

.mobile-nav__item a {
  text-decoration: none;
  font-size: 1.5rem;
  color: map-get($colors, main-dark-blue);
}

.mobile-nav__item a:active,
.mobile-nav__item a:hover {
  font-weight: 500;
  color: map-get($colors, blue-accent);
}

.mobile-nav__item--cta a{
  padding: 0.5rem 1rem;
  background: map-get($colors, red-accent);
  border-radius: 8px;
}

.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active {
  background: white;
  color: map-get($colors, red-accent);
}

.main-header__brand {
  grid-area: logo;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 2.5rem;
  text-decoration: none;
  color: white;
  align-self: center;
  margin-left: 2rem;
}

.main-header__brand:active,
.main-header__brand:hover {
  color: map-get($colors, red-accent);
}

.toggle-button {
  width: 2rem;
  grid-area: toggle;
  background: transparent;
  border: none;
  padding: 0;
  align-self: center;
  justify-self: end;
  margin-right: 2rem;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  display: block;
  width: 100%;
  height: 0.25rem;
  background: map-get($colors, red-accent);
  margin: 0.5rem 0;
}

.main-header__info {
  grid-area: info;
  padding: 0 2rem;
  justify-self: center;
}

.dark-section__heading,
.main-header__heading {
  @include big-heading();
  text-align: center;
}

.dark-section__annotation,
.main-header__annotation {
  @include dark-background__annotation();
  text-align: center;
}

.dark-section__description {
  @include dark-background__description();
  text-align: center;
}

.main-header__description {
  display: none;
}

.subscription {
  margin: 3rem 0;
  display: inline-block;
  position: relative;
  width: 90%;
  left: 5%;

  input {
    box-sizing: border-box;
    width: 100%;
    height: 3rem;
    border-radius: 8px;
    border: none;
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: 500;
  }

  button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 3rem;
    height: 2rem;
    border-radius: 0.25rem;
    border: none;
    background: map-get($colors, red-accent);
    color: white;
  }

  ::placeholder {
    color: map-get($colors, faded-blue);
  }
}

.main-header__image {
  grid-area: image;
  margin: auto;
  width: 90%;
}

#dark-section {
  @include dark-section-style();
}

.dark-section__image {
  margin: auto;
  width: 90%;
  margin-top: 3rem;
  padding-left: 5%;
}

.section-heading__text {
  font-size: 2rem;
  font-weight: 500;
  color: map-get($colors, main-dark-blue);
  margin: 0;
}

.section-heading__decoration {
  width: 5rem;
  height: 0.25rem;
  background: map-get($colors, blue-accent);
  margin: 1rem 0;
}

.card-item {
  margin: 2rem auto 0;
  padding: 2rem 1rem;
  width: 100%;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(108,99,255, 0.15);
  border: 1px solid rgba(108,99,255, 0.1);
  box-sizing: border-box;

  a {
    font-size: 1rem;
    font-weight: 600;
    color: map-get($colors, light-dark-blue);
    text-decoration: none;
  }
}

.card-item__annotation {
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  color: map-get($colors, faded-blue);
  margin: 0;
}

.card-item__heading {
  font-size: 1.5rem;
  font-weight: 700;
  color: map-get($colors, medium-dark-blue);
  margin: 0.5rem 0;
}

.card-item__info {
  font-size: 1.2rem;
  color: map-get($colors, main-dark-blue);
  line-height: 1.3;
  padding: 1.5rem 0;
}

.card-item--highlighted {
  background: map-get($colors, main-dark-blue);

  a {
    color: map-get($colors, blue-accent);
  }

  .card-item__heading {
    color: map-get($colors, blue-accent);
  }

  .card-item__info {
    color: #fff;
  }
}

.picture-item__image {
  width: 100%;
  margin: 2.5rem auto 0;
}

.picture-item__annotation {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: map-get($colors, light-dark-blue);
  margin: 1rem 0;
}

.picture-item__info {
  font-size: 1rem;
  line-height: 1.8;
  color: map-get($colors, main-dark-blue);
  margin-bottom: 1.5rem;
}

.picture-item {
  box-sizing: border-box;

  a {
    text-decoration: none;
    color: map-get($colors, blue-accent);
    font-weight: 600;
  }
}

.feature-item {
  text-align: center;
  margin-top: 2rem;

  .feature-item__heading {
    font-size: 3rem;
    font-weight: 600;
    margin: 0.5rem auto 0.25rem;
    color: map-get($colors, main-dark-blue);
  }

  .feature-item__info {
    margin: 0 auto;
    color: map-get($colors, main-dark-blue);
  }
}

#third-section {
  width: 70%;
  margin: auto;
  max-width: 25rem;
}

.signup-form {
  padding: 1rem 0;
  display: grid;
  grid-gap: 0.5rem;
  grid-auto-rows: 2rem;
  margin-bottom: 3rem;

  button {
    background: map-get($colors, red-accent);
    border: none;
    height: 3rem;
    border-radius: 8px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.25rem;
    font-family: "Montserrat", sans-serif;
    margin: 1.25rem 0;
  }
}

.signup-form label {
  font-weight: 500;
  color: map-get($colors, medium-dark-blue);
  align-self: end;
}

.signup-form input {
  border: 1px solid map-get($colors, faded-blue);
  border-radius: 8px;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  color: map-get($colors, main-dark-blue);
}

.signup-form__checkbox {
  margin: 1rem auto;
}

footer {
  text-align: center;
  color: #fff;
  background: map-get($colors, main-dark-blue);
  padding: 1rem 0;

  a {
    text-decoration: none;
    display: block;
    color: #fff;
    font-size: 1.2rem;
    padding: 0.5rem;
  }

  p {
    margin: 2rem 0;
    font-size: 0.75rem;
    color: map-get($colors, light-dark-blue);
  }
}

@media (min-width: 45rem) {
  .toggle-button {
    display: none;
  }

  .main-nav {
    display: block;
    grid-area: toggle;
    justify-self: end;
    margin-right: 10%;
    align-self: center;
  }

  .main-nav__items {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  .main-nav__item a {
    text-decoration: none;
    margin-left: 2rem;
    font-size: 1.2rem;
    color: #fff;
  }

  .main-nav__item a:active,
  .main-nav__item a:hover {
    font-weight: 500;
    color: map-get($colors, blue-accent);
  }

  .main-nav__item--cta a {
    padding: 0.5rem 1rem;
    background: map-get($colors, red-accent);
    border-radius: 8px;
    margin-left: 2rem;
  }

  .main-nav__item--cta a:hover,
  .main-nav__item--cta a:active {
    background: white;
    color: map-get($colors, red-accent);
  }

  section {
    padding: 3rem 10%;
  }

  .main-header__brand {
    margin-left: 15%;
  }

  .dark-section__annotation,
  .main-header__annotation {
    font-size: 1rem;
  }

  .dark-section__heading,
  .main-header__heading {
    font-size: 3.5rem;
  }

  .main-header__image {
    width: 80%;
  }

  .toggle-button {
    margin-right: 20%;
  }

  .pictures {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 3rem;
    align-items: stretch;
    flex-grow: 1;
    box-sizing: border-box;
  }

  .picture-item {
    flex-basis: 45%;
    flex-grow: 1;
    margin: 0 1rem;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 2rem;
  }


    footer a {
      display: inline-block;
      margin: 1rem 2rem;
    }
}

@media (min-width: 80rem) {
  header {
    grid-template-columns: 1.5fr 1.5fr;
    grid-auto-rows: 10rem auto;
    grid-template-areas: "logo nav" "info image";
    background: map-get($colors, main-dark-blue);
    padding: 3rem 0;
  }

  .main-nav {
    grid-area: nav;
      margin-right: 15%;
  }

  .main-nav__item a {
    margin-left: 4rem;
  }

  .dark-section__annotation,
  .main-header__annotation {
    font-size: 1.25rem;
    text-align: left;
  }

  .dark-section__heading,
  .main-header__heading {
    font-size: 4rem;
    text-align: left;
  }

  .cards {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0 1rem;
  }
  .main-header__info {
    align-self: center;
    margin-left: 15%;
    padding: 0;
    max-width: 50%;
    justify-self: start;
  }

  .main-header__description {
    @include dark-background__description();
    display: block;
  }

  .main-header__image {
    position: relative;
    height: auto;
    margin-top: 5%;
    align-self: center;
    right: 15%;
    width: 100%;
  }

  .subscription {
    width: 100%;
    left: 0;
  }

  #first-section {
    .section-heading__text {
      margin-top: 3rem;
    }
  }

  #dark-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    grid-template-areas: "text img";
  }

  .dark-section__info {
    grid-area: text;
    align-self: center;
  }

  .dark-section__description {
    text-align: left;
    align-self: center;
  }

  .dark-section__image {
    grid-area: img;
    position: relative;
    left: 0;
    width: 60rem;
    height: auto;
    margin-top: 5%;
    align-self: center;
  }

  #features {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 3rem;
    align-items: stretch;

    box-sizing: border-box;
  }

  .feature-item,
  .picture-item {
    flex-basis: 30%;
  }

  #third-section {
    width: 30%;
    margin: 0 auto 4rem;
  }

  #third-section .section-heading {
    text-align: center;
    margin: auto;
  }

  #third-section .section-heading__decoration {
    margin: 0.75rem auto 0;
  }

  footer {
    margin-top: 0;
  }

}
// end @media (min-width: 80rem)
